

/*
     FILE ARCHIVED ON 06:06:32 Dec 02, 2011 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 23:28:59 Jan 27, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.502
  exclusion.robots: 0.018
  exclusion.robots.policy: 0.009
  esindex: 0.009
  cdx.remote: 6.913
  LoadShardBlock: 123.214 (3)
  PetaboxLoader3.datanode: 111.882 (4)
  PetaboxLoader3.resolve: 130.833 (2)
  load_resource: 144.925
*/